doctype html
html
  head
    meta(charset="utf-8")
    title #{pagename}
    link(type="text/css",rel="stylesheet",href="#{css}/index.css")

  body(data-page-name="#{pageid}")

    include ../../mods/header/header.jade
    
    #bd

    include ../../mods/footer/footer.jade