/**
 * User:louxiaojian
 * Date:2014-03-25
 * Mail:louxiaojian@gmail.com
 */

#hd
	zoom 1
	background url(../img/header/top_nav.jpg?v=version) center no-repeat
	margin-bottom 10px
	min-width 1002px
	.masthead
		width 1002px
		height 96px
		overflow hidden
		margin 0 auto