/**
 * User:<%= user %>
 * Date:<%= appbegintime %>
 * Mail:<%= mail %>
 */
#hd
    zoom 1
    background #f3f3f3 url(../img/header/top_nav.jpg?v=version) center no-repeat
    margin-bottom 10px
    min-width 1002px
    border-bottom 2px solid #ccc
    .masthead
        width 1002px
        height 96px
        overflow hidden
        margin 0 auto
        font-size 32px
        line-height 2
        text-align center