<div class="page-nav">
    <a href="#1" class="previous pn"><span class="sp">上一页</span></a>
    <a class="on pn"><span class="sp">1</span></a>
    <a href="#" class="pn"><span class="sp">2</span></a>
    <a href="#3" class="pn"><span class="sp">3</span></a>
    <a href="#" class="nb pn"><span class="sp">...</span></a>
    <a href="#4" class="pn"><span class="sp">4</span></a>
    <a href="#5" class="pn"><span class="sp">5</span></a>
    <a href="#2" class="next pn"><span class="sp">下一页</span></a>
    <input value="11" type="text" class="ys">
    <a href="#" class="pn"><span class="sp">跳转</span></a>
    <a href="#2" class="end pn"><span class="sp">尾页</span></a>
    <span class="all pn">共<em>22</em>页</span>
</div>