/**
 * User:louxiaojian
 * Date:2014-03-25
 * Mail:louxiaojian@gmail.com
 */
@import '../../mods/global/global.styl'
@import '../../mods/header/header.styl'
@import '../../mods/footer/footer.styl'

#bd
	width 1003px
	position relative
