/**
 * User:<%= user %>
 * Date:<%= appbegintime %>
 * Mail:<%= mail %>
 */
#ft
    background #f4f4f4
    color #393939
    font-size 32px
    padding 50px 0
    *zoom 1
    min-width 1002px
    text-align center
    border-top 2px solid #ccc
