/**
 * User:<%= user %>
 * Date:<%= appbegintime %>
 * Mail:<%= mail %>
 */
@import '../../mods/global/global.styl'
@import '../../mods/header/header.styl'
@import '../../mods/footer/footer.styl'

#bd
	width 1003px
	position relative
